@charset "UTF-8";
/* 変数 */
/* 色 */
$primary: #ff953a;
$darkgray: #222222;
$midgray: #414141;
$gray: #888888;
$white: #ffffff;
$side: 6vw;

:root {
/* サイズの基準：1rem = 100px */
  font-size: 100px;
}

/* 基本設定 */
html, body {
  height: 100%;
  overflow: hidden;
}

body {
  color: $darkgray;
  font-size: 0.16rem;
  font-family: sans-serif;
  line-height: 1.8;
}
/* リセット、ノーマライズ、サニタイズ */
body, h1, h2, h3, h4, h5, h6, p, ul, figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
a {
  color: inherit;
  text-decoration: none;
  &:hover {
    opacity: 0.8;
  }
}

html {
  height: 100%;
  body {
    height: 100%;
    overflow: scroll;
  }
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* ヒーロー */
.hero {
  height: 100%;
  background-image: url(img/cafe.jpg);
  background-position: center;
  background-size: cover;
  background-color: $darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::after {
    content: url(img/arrow.svg);
    display: block;
    width: 0.16rem;
    padding: 0.18rem 0.15rem 0.1rem;
    border-radius: 50% 50% 0 0 ;
    background-color: $white;
    line-height: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
}
@media (min-width: 768px) {
  .hero {
    justify-content: flex-end;
    &::after {
      width: 0.31rem;
      padding: 0.35rem 0.31rem 0.16rem;
    }
    h1{
      width: 50%;
      text-align: center;
    }
  }
}


/* ヘッダー */
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 $side;
  .site {
    img {
      width: 1.25rem;
    }
  }
  .nav {
    width: 0;
    height: 0;
    position: absolute;
    left: 100%;
    overflow: hidden;
    color: transparent;
    transition: 0.5s ease-in-out;
  }
  .nav-button {
    box-sizing: content-box;
    padding: 0;
    outline: none;
    border: none;
    background: none;
    width: 29px;
    height: 20px;
    cursor: pointer;
    color: $white;
    &::before,
    &::after {
      content: '';
      display: block;
      height: 1px;
      background-color: currentColor;
      transform: translateY(10px);
      transition: 0.3s ease-in-out;
    }
    &::before {
      transform: translateY(-10px);
      box-shadow: 0 10px currentColor;
    }
  }
}

@media (min-width: 768px) {
  .header {
    .site {
      img {
        width: 2.26rem;
      }
    }
    .nav {
      position: relative;
      left: auto;
      width: auto;
      height: auto;
      ul {
        display: flex;
        list-style: none;
        color: $white;
        li:not(:first-child) {
          margin-left: 0.55rem;
        }
      }
    }
    .nav-button {
      display: none;
    }
  }
}

/* htmlに「open」クラスを適用した場合（オーバーレイの表示） */
@media (max-width: 767px) {
  html.open, .open body {
    height: 100%;
    overflow: hidden;
  }
  .open {
    .header {
      position: relative;
      margin-bottom: -100px;
      .nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          margin-bottom: 10vh;
          list-style: none;
          li:not(:last-child) {
            margin-bottom: 20px;
          }
        }
      }
      .nav-button {
        z-index: 1000;
        &::before {
          transform: rotate(-45deg);
          box-shadow: none;
        }
        &::after {
          transform: rotate(45deg);
          box-shadow: none;
        }
      }
    }
  }
}